.products {
  display: flex;
  width: 100%;
}

.sortSection {
  width: 15vw;
  margin-right: 1rem;
  margin-left: 20px;
}

.productContain {
  margin: 1px;
  width: 85vw;
}

.productsWholeContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.productData {
  height: 34vh;
  width: 34vw;
  overflow: hidden;
  margin: 0.3rem;
  display: flex;
  border-radius: 7px;
  background-color: rgb(239, 239, 239);
}

.product-image {
  height: 100%;
  max-width: 50%;
  object-fit: cover;
  border-radius: 7px 0 0 7px;
}

.productInfo {
  height: 100%;
  max-width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.productInfo>p {
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  font-size: 0.5999rem;
  font-weight: lighter;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.productInfo>h3 {
  font-size: 1.4rem;
  color: #474747;
  font-family: "Bentham", serif;
}

.productInfo>h4 {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

@media (max-width: 753px) {
  .productData {
    width: 65vw;
    height: 30vh;
  }
}

@media (max-height: 580px) {
  .productData {
    height: 40vh;
  }
}

@media (max-height: 510px) {
  .productData {
    height: 45vh;
  }
}

@media (max-height: 510px) and (max-width: 990px) {
  .productData {
    height: 50vh;
    width: 40vw;
  }
}

.productbtn {
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.timelineItem {
  cursor: pointer;
}

.timelineItem:hover {
  text-decoration: underline;
}

.infoSpan,
.sortSection p {
  cursor: pointer;
}

.infoSpan:hover {
  text-decoration: underline;
}

.productItems {
  padding-left: 20px;
}

.prodActive {
  background-color: #efefef;
  border-left: 2px solid #474747;
}



@media (max-height: 530px) and (max-width: 770px) {
  .productData {
    height: 40vh;
    width: 35vw;
  }

  .infoSpan,
  .sortSection p {
    font-size: 10px;
    cursor: pointer;
  }

  .productbtn {
    border-radius: 30px;
    font-size: 10px;
    letter-spacing: 0px;
  }

  .productInfo>p {
    font-size: 8px;
  }

  .productInfo>h3 {
    font-size: 15px;
  }

  .productInfo>h4 {
    font-size: 10px;
  }
}


@media  (max-width: 535px) {
  .productData {
    height: 30vh;
  }
  .products {
    margin-top: 0.7rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:  0.5rem;

  }
  

  .infoSpan,
  .sortSection p {
    font-size: 10px;
    cursor: pointer;
  }

  .productbtn {
    border-radius: 30px;
    font-size: 10px;
    letter-spacing: 0px;
  }

  .productInfo>p {
    font-size: 8px;
  }

  .productInfo>h3 {
    font-size: 15px;
  }

  .productInfo>h4 {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .productData {
    height: 35vh;
    margin-left: 12px;
  }
  .productbtn {
    border-radius: 30px;
    font-size: 8px;
    letter-spacing: 0px;
  }
}

@media (max-height: 580px) and (max-width: 500px) {
  .productData {
    height: 40vh;
    width: 70vw;
  }

  .sortSection {
    margin-top: 1rem;
    width: 15vw;
    margin-right: 1rem;
    margin-left: 20px;
  }

  .infoSpan,
  .sortSection p {
    font-size: 7px;
    cursor: pointer;
  }

  .productbtn {
    border-radius: 30px;
    font-size: 10px;
    letter-spacing: 0px;
  }

  .productInfo>p {
    font-size: 8px;
  }

  .productInfo>h3 {
    font-size: 15px;
  }

  .productInfo>h4 {
    font-size: 10px;
  }
}