body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}



.sponsor-image{
  width: 10vw;
  height: 10vh;
}

.clients-slider {
  margin: 3rem;
}


.sponsors-heading{
  letter-spacing: 1.5px;
	text-align: center;
  font-weight: 200;
	margin-top: 5vh;
}

@media (max-width: 800px) {
  .sponsors-heading{
    font-size: 1.6rem;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5vh;
  }
  
}

@media (max-width: 350px) {
  .sponsor-image {
    width: 40px; 
    height: 50px;
  }

  .sponsors-heading{
    font-size: 20px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5vh;
  }
  
}