.upperPartContainer {
  display: flex;
  width: 100%;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-image: url("./assets/upper-part-bg.jpg");
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: 100% 100%;
}

.upperPartContent {
  padding: 1em;
  width: 100%; 
  text-align: left !important; 
}

.upperPartTitle {
  font-size: 2em;
  font-weight: 400;
  text-align: left !important; 
  color: var(--text-color);
}

.upperPartDescription {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  text-align: left !important;
  color: var(--text-color);
}



.upperPartImage {
  width: 100%;
  height: auto;
  box-shadow: 12px 12px 12px rgb(145, 145, 145);
}


@media (min-width: 768px) {
  /* Apply the following styles for screens wider than 768px */
  .upperPartContainer {
    flex-direction: row;
    justify-content: space-between;
    padding: 3em;
  }

  .upperPartContent {
    width: 50%;
    text-align: left; /* Reset text alignment for larger screens */
  }

  .upperPartImageContainer {
    width: 50%;
  }
}
