.prdouctDetailMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 120px 40px 40px 40px;
  z-index: -1;
}

@media (max-width: 1000px) {
  .prdouctDetailMain .wrapper {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.prdouctDetailMain .title {
  font-size: 3rem;
  font-weight: 900;
}
@media (max-width: 1000px) {
  .prdouctDetailMain .title {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
}
.prdouctDetailMain .main-text {
  margin: 30px 0 0 0;
  width: 450px;
  font-size: 30px;
  font-size: var(--font-size);
  max-width: 500px;
  color: black;
}

@media (max-width: 1000px) {
  .prdouctDetailMain .main-text {
    width: 90%;
  }
}
.prdouctDetailMain .prices {
  margin: 25px 0 0 0;
}

@media (max-width: 1000px) {
  .prdouctDetailMain .prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .prdouctDetailMain {
    flex-direction: column;
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .prdouctDetailMain
    .image-gallery
    .image-gallery-content
    .image-gallery-thumbnails {
    display: none;
  }
}
.image-gallery-content {
  width: 400px;
  max-width: 400px;
  margin: 0 auto;
}
.image-gallery-content img {
  border-radius: 10px;
}
.image-gallery-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 30px 0 0 0;
}
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    display: flex;
    justify-content: space-between;
    /* Change to space-around */
    align-items: center;
    width: 95%;
    /* Ensure the container takes up the full width */
  }
.image-gallery-thumbnails .image-gallery-thumbnail {
  border: none;
  height: auto;
}
.image-gallery-thumbnails
  .image-gallery-thumbnail
  .image-gallery-thumbnail-image {
  border: 3px solid transparent;
}
.image-gallery-thumbnails
  .image-gallery-thumbnail
  .image-gallery-thumbnail-image:hover {
  border: 3px solid #ff5722;
}
.image-gallery-thumbnails
  .image-gallery-thumbnail
  .image-gallery-thumbnail-image:focus {
  border: 3px solid #ff5722;
  outline: none;
}
.image-gallery-thumbnails
  .image-gallery-thumbnail
  .image-gallery-thumbnail-image:active {
  border: 3px solid #ff5722;
}
.image-gallery-thumbnails
  .image-gallery-thumbnail
  .image-gallery-thumbnail-image.active {
  border: 3px solid #ff5722;
}

.image-gallery-thumbnails
  .image-gallery-thumbnail
  .image-gallery-thumbnail-inner {
  width: 100px;
  height: auto;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  justify-content: flex-start;
}

.clock-prod-heading{
  font-weight: 600; 
  color: rgba(0, 0, 0, 0.905);
}

.clock-prod-subheading{
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.786);
}

.clock-prod-descript{
  color: rgb(85, 85, 85);
}
