


.ServicesContainerRow {
  width: 98vw;
}

.additional-content {
  width: 20vw;
}

.ServiceImage {
  width: 50vw !important;
}

.service-info {
  margin: 2rem 0 2rem 0;
}

.service-info h3 {
  text-align: center;
}

.service-info p{
  text-align: justify;
}

.service-features{
  text-align: left;
}

.service-item-feature {
  font-size: 1.2em;
  font-weight: 400;
}

.service-features{
  list-style: armenian;
}

@media (max-width: 768px) {
  .additional-content 
  {
    margin: auto auto auto auto;
    width: 94%;
    height: 100%;
    background-color: gray;
    margin-bottom: 10px;
  }
  
}
