.ServicesContainer {
  margin: 0.5rem;;
}

.ServicesContainerRow {
  width: 98vw;
}

.additional-content {
  width: 20vw;
}

.ServiceImage {
  width: 50vw !important;
}

.service-description {
  margin: 2rem 0 2rem 0;
}

.service-description h3 {
  text-align: center;
}



@media (max-width: 768px) {
  .additional-content 
  {
    margin: auto auto auto auto;
    width: 94%;
    height: 100%;
    background-color: gray;
    margin-bottom: 10px;
  }
  
}
