@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  min-height: 100vh;
  padding: 100px 0;
  font-family: sans-serif;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: linear-gradient(to bottom right, #ed7050, #e65835);
  -webkit-box-shadow: 5px 5px 10px #e26142, -5px -5px 10px #fff;
  box-shadow: 5px 5px 10px #e26142, -5px -5px 10px #fff;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}


.timeline-Intro{
  font-family: sans-serif !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  padding-top: 0px;
}

.timeline-Intro h2{
  text-align: center;
  display: inline-block;
  color: #757373;
}
.timeline-Intro p{
  display: inline-block;
  color: #757373;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
}