.Services-top {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: rgba(128, 128, 128, 0.495);
}

:root {
  --color1: rgb(108, 107, 107);
  --color2: rgba(30, 30, 235, 0.824);
  --color3: white;
}

.ServicesHeading {
  color: var(--color3);
  margin: auto;
  display: inline;
}

.buttonInService {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}

.buttonInService,
.buttonInService:before,
.buttonInService:after {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-paperplane {
  font-size: 1em;
  color: var(--color3);
  margin-left: 1px;
  margin-top: 5px;
}

.contact-button {
  background-color: var(--color2);
  position: relative;
  color: var(--color3) !important;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid var(--color3);
  border-radius: 4px;
  padding: 20px 60px 20px 55px;
  transition: 0.3s ease-in-out;

  span {
    text-transform: none;
    position: absolute;
    color: var(--color3);
    top: 20px;
    left: 30px;
    opacity: 0;
    transition: all 0s ease 0s;
  }

  &:hover {
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border: 2px solid var(--color3);
    border-radius: 50px;
    color: var(--color1) !important;
    background-color: var(--color1);

    & > .icon-paperplane {
      opacity: 0;
    }

    & > span {
      opacity: 1;
      transition: all 0.25s ease-in-out 0.1s;
    }

    &:before {
      transition: 0.3s ease-in-out;
      background-color: var(--color1);
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -14px;
    left: -12px;
    width: 132px;
    height: 25px;
  }

  &:before {
    border: 2px solid var(--color3);
    background-color: var(--color2);
    transform: skew(-25deg);
    transition: 0.3s ease-in-out;
  }

  &:after {
    content: "Available for work";
    font-size: 0.45em;
    top: -7px;
    left: 0px;
    color: var(--color3);
  }
}
